@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

:root {
    --color-primary: rgb(42, 165, 165);
}

* {
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 6px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
}

/* commons */

section {
    padding: 0px 60px;
}

/* margin x */

.mx-1 {
    margin-left: 10px;
    margin-right: 10px;
}

.mx-2 {
    margin-left: 20px;
    margin-right: 20px;
}

.mx-3 {
    margin-left: 30px;
    margin-right: 30px;
}

/* padding */

.px-1 {
    padding-left: 10px;
    padding-right: 10px;
}

.px-2 {
    padding-left: 20px;
    padding-right: 20px;
}

.px-3 {
    padding-left: 30px;
    padding-right: 30px;
}

a {
    text-decoration: none;
    color:black;
}



/* header */

header {
    padding: 40px 60px;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.header-top .logo{
    font-size: 40px;
}

.header-top input {
    padding: 8px;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
}

.header-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-bottom nav ul {
    list-style-type: none;
    display: flex;
}

.header-bottom .shopping {
    display: flex;
    justify-content: space-between;
}

/* section -image*/
.imagen {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

/* section-shop */

.shop {
    text-align: center;
}

.list-products {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.card-product {
    border-radius: 20px;
    margin: 30px; 
    position: relative; 
    width: 300px;
}

.card-product img {
    width: 300px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.card-product-button {
    background-color: var(--color-primary);
    border: none;
    border-radius: 50%;
    color: #f2f2f2;
    height: 50px;
    position: absolute;
    top: 272px;
    left: 220px;
    right: 0;
    width: 50px;
    cursor: pointer;
}

.card-product-button:hover {
    background-color: #FF0000;
}

/* footer */
footer {
    background-color: var(--color-primary);
    color: white;
    padding: 30px 60px 40px;
    display: flex;
    justify-content: space-between;
}

footer .logo {
    font-size: 40px;
    color: white;
}

.social-networks {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-networks ul {
    list-style-type: none;
    display: flex;
}

.social-networks ul li {
    padding: 10px;
}

.messages {
    position: fixed;
    top: 100px;
    right: 20px;
}

.message {
    background-color: rgb(255, 196, 0);
    color: whitesmoke;
    padding: 10px 20px;
    border-radius: 15px;
}